@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
body {
    color: #3c3c3c;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    line-height: 26px;
}

.navbar {
    background-color: #3c3c3c;
    font-size: large;
}

.footer-copyright {
    background-color: #3c3c3c;
}

#main-image {
    margin-bottom: 5vh;
}

.text-copyright-dark {
    display: inline-block;
    color: #706d6d;
}

a {
    color: white;
}

#icons {
    color: white !important;
    font-family: fontawesome !important;
    display: inline-block;
}