@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
body {
    color: #3c3c3c;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    line-height: 26px;
}

.navbar {
    background-color: #3c3c3c;
    font-size: large;
}

#main-image {
    margin-bottom: 5vh;
}